.main
{
    background-color: #efefef;
    padding: 0%;

}
#red{
    background-color: #bc1823;
    width: 30%;
    position:absolute;
    padding: 0%;
    right: 0%;
    height: 100%;
    top: 0px;
    
}
#logo{    
    width: 30%;
    position: absolute;

    right: 15%;
    height: auto;
    z-index: 2;
    
}
#buttons
{
    background-color: #bc1823;
    padding: 5px;
    color: #efefef;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 4px 2px;
    width:max-content;
    border-radius: 36px;
}
#about
{
    display: block;
}